/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible";
$presentation-heading-font: "Atkinson Hyperlegible";

// colors

// $link-color: #0072B2;
// $hover-color: lighten($link-color, 40%);

code.sourceCode {
  font-size: 150%;
  /* or try font-size: xx-large; */
}
